<%- include("partials/header"); -%>
    <div class="introduction-wrapper">
      <div class="gatong-color">
        <div class="content-intro-box">
          <div class="introduction-content">
            <h1>Discover the Best</h1>
            <p>Find the best products and services with our community-driven ratings and reviews. Join us today and start experiencing the best that your city has to offer.</p>
            <a href="#" class="intro-browse-now">
              <i class='bx bx-mouse-alt'></i>
              <p>Browse Now</p>
              <i class='bx bx-down-arrow-alt' ></i>
            </a>
          </div>
          <div class="gpu-graphics-animation">
            <div class="gpu-box1">
            
            </div>
            <div class="gpu-box2">
              <img src="/imgs/6778469-removebg-preview.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="rated-products-container">
        <h3>Most rate/review GPU Products</h3>
        <div class="group-product">
          <% for (var i = 0; i < mostRated.length; i++) { %>
            <a href="/graphiscore/<%=mostRated[i]._id%>" class="rated-product">
              <div class="product-home-img">
                <img src="<%=mostRated[i].productImgUrl%>" alt="">
              </div>
              <div class="product-home-selfCont">
                <div>
                  <h4><%= mostRated[i].productName %></h4>
                  <p><%= mostRated[i].productDscrp.substring(0, 130) %>...</p>
                </div>
      
                <ul>
                  <p>Reviews (<%= mostRated[i].totalReviews %>)</p>  
                  <div>
                    <div class="star-rating-home"></div>
                    <p class="av-home"><%= mostRated[i].average %></p> 
                    <p>(<%= mostRated[i].ratings %>)</p>
                  </div>
                </ul>
              </div>
            </a>
          <% } %>
        </div>
      </div>

      <div class="news">
        <h3>📄 LATEST NEWS</h3>
        <div class="RTX-news">
          <p>NVIDIA has officially announced the release of their new RTX 3080 Ti graphics card.</p>
          <img src="https://insidehpc.com/wp-content/uploads/2018/12/rtx.jpg" alt="">
        </div>
        
        
      </div>
    </div>

   
   
    <% if (successMessage) { %>
      <script>
        toastr.options.positionClass = "toast-bottom-right";
        toastr.success("<%= successMessage %>");
      </script>
    <% } %>
    


<%- include('partials/footer'); -%>