<%- include("partials/header"); -%>
    <div class="introduction-wrapper">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="introduction-carousel-bg-1">
                  <div class="introduction-heading">
                      <h1> Your GPU Rating Destination</h1>
                      <p>Choose the right GPU with Graphicscore. Expert ratings and reviews of the latest GPUs. Get the best performance, features, and value for your money. For gamers, content creators, and high-performance seekers. Browse our database now.</p>
                    <div>
                          <a href="">Contact Us</a>
                    </div>
                  </div>    
                </div>
            </div>
        
              <div class="item">
                <div class="introduction-carousel-bg-2">
                  <div class="introduction-heading">
                      <h1> Find Your Perfect GPU</h1>
                      <p>Unleash your gaming potential with GraphiScore. Our comprehensive GPU ratings and reviews will help you make an informed choice. Explore the latest options now.</p>
                    <div>
                          <a href="">See GPUs</a>
                    </div>
                  </div>    
                </div> 
              </div>
            
              <div class="item">
                <div class="introduction-carousel-bg-3">
                  <div class="introduction-heading">
                      <h1> Upgrade Your Gaming Experience</h1>
                      <p>Make an informed GPU choice with GraphiScore. Our expert ratings and reviews help you find the best option. Start your search now.</p>
                    <div>
                          <a href="">Rate Now</a>
                    </div>
                  </div>    
                </div>    
              </div>
            </div>
          </div>
    </div>

    <div class="content-wrapper">
      <div class="rated-products-container">
        <h3>Most rate/review GPU Products</h3>
        <div class="group-product">
          <% for (var i = 0; i < mostRated.length; i++) { %>
            <a href="/graphiscore/<%=mostRated[i]._id%>" class="rated-product">
              <div class="product-home-img">
                <img src="<%=mostRated[i].productImgUrl%>" alt="">
              </div>
              <div class="product-home-selfCont">
                <div>
                  <h4><%= mostRated[i].productName %></h4>
                  <p><%= mostRated[i].productDscrp.substring(0, 130) %>...</p>
                </div>
      
                <ul>
                  <p>Reviews (<%= mostRated[i].totalReviews %>)</p>  
                  <div>
                    <div class="star-rating-home"></div>
                    <p class="av-home"><%= mostRated[i].average %></p> 
                    <p>(<%= mostRated[i].ratings %>)</p>
                  </div>
                </ul>
              </div>
            </a>
          <% } %>
        </div>
      </div>

      <div class="news">
        <h3>📄 LATEST NEWS</h3>
        <div class="RTX-news">
          <p>NVIDIA has officially announced the release of their new RTX 3080 Ti graphics card.</p>
          <img src="https://insidehpc.com/wp-content/uploads/2018/12/rtx.jpg" alt="">
        </div>
        
        
      </div>
    </div>

   
   
    <% if (successMessage) { %>
      <script>
        toastr.options.positionClass = "toast-bottom-right";
        toastr.success("<%= successMessage %>");
      </script>
    <% } %>
    


<%- include('partials/footer'); -%>