<%- include("partials/header"); -%>
<div class="product-info">
    <div class="prod-ratings-description">
         <div class="prod-img">
             <img src="<%=productPrev[0].productImgUrl%>" class="prod-img-size">
         </div>
     <div class="decription-title">
         <h1><%= productPrev[0].productName %></h1>
         <p><%= productPrev[0].productDscrp %></p>
         <a href="/review/<%=productPrev[0]._id %>">Give your best rate</a>
     </div>
    </div>
 <div class="rate_review">
    <div class="rate__rev">
     <div>
         <span class="rating_rev"><%= productPrev[0].ratings %></span>
         <span>people have rated this GPU</span>
     </div>
     <div>
         <span class="rating_rev"><%= productPrev[0].totalReviews %></span>
         <span>people have review this GPU</span>
     </div>
   </div>
     <div class="rating-average">
         <!-- <div class="star-rating"></div>  -->
        <div>
         <span class="average-value">
            <% if (productPrev[0].average) { %>
                 <%= productPrev[0].average %>
           <% } else { %>
                0
           <% } %>
        </span>
         <p>Average Rating</p>
        </div>
     </div>
 </div>
 <h1 class="rates-comment">Ratings & Reviews</h1>
<% if (!productPrev[0].average) { %>
    <div class="ifproductReview">
        <p>No reviews found for this Gpu yet</p>
        <a href="/review/<%=productPrev[0]._id %>">Be the first to write one!</a>
    </div>
<% } %>
    <%productPrev[0].reviews.forEach(review => { %>
            <div class="rates_reviews">
                <a href="/profile/<%= review._id %>">
                <div class="profile-size">
                  <div class="profile-circle">
                    <% if (review.profilePicUrl) { %>
                        <img src="<%= review.profilePicUrl %>" alt="PIC" class="profile">
                    <% } else { %>
                        <img src="https://media.discordapp.net/attachments/1045257540428107808/1083260571270520882/My_project1-removebg-preview.png?width=550&height=413" alt="PIC" class="profile">
                    <% } %>
                     
                  </div>
                 <div class="profile-name">
                     <h3><%= review.displayName %></h3>
                     
                     <div class="star-rating-user"></div> 
                     <span class="av-user"><%= review.rate %></span>
                 </div>
              </div>
          
              <div class="review-comment">
                  <span><%= review.review %></span>
              </div>
                  <div class="time-date">
                      <span><%= review.date %></span>
                  </div>
                </a>
            </div>
    <% }); %>

 </div>
 <% success.forEach(element => { %>
    <script>
       toastr.options.positionClass = "toast-bottom-right";
       toastr.success("<%= element %>");
    </script>
 <% }); %>

<%- include('partials/footer'); -%>