<%- include("partials/header"); -%>
    <div class="review-wrapper">
        <div class="review-product">  
                <h2><i class='bx bxs-message-alt-detail'></i>Review</h2>
                <form action="/review" method="post">
                    <label>Product</label>
                    
                    <% if (productPrev[0].productName) { %>
                        <input type="text" placeholder="<%= productPrev[0].productName %>" name="search_product_review" id="search-product-review" autocomplete="off" value="<%= productPrev[0].productName %>" required>
                    <% } else { %>
                        <input type="text" placeholder="Search a product to review" name="search_product_review" id="search-product-review" autocomplete="off" required>
                    <% } %>

                    <div id="search-results-review"></div>
                    <label>Rating</label>
                    <div class="star-widget">
                        <p id="rate-comment">I don't like it!!</p>
                        <div>
                            <input type="radio" name="rate" id="rate-5" value="5">
                            <label for="rate-5" class="bx bxs-star"></label>
                            <input type="radio" name="rate" id="rate-4" value="4">
                            <label for="rate-4" class="bx bxs-star"></label>
                            <input type="radio" name="rate" id="rate-3" value="3">
                            <label for="rate-3" class="bx bxs-star"></label>
                            <input type="radio" name="rate" id="rate-2" value="2">
                            <label for="rate-2" class="bx bxs-star"></label>
                            <input type="radio" name="rate" id="rate-1" value="1">
                            <label for="rate-1" class="bx bxs-star"></label>
                        </div>
                    </div>
                    <label>Review</label>
                    <textarea placeholder="Described your experiece" name="review_product" id="" cols="30" rows="10"></textarea>
                    <button type="submit">Post my review</button>
                </form>
        </div>
        <div id="review-container" class="product-review">
                <img src="<%=productPrev[0].productImgUrl%>">
            <div>
                <div>
                    <h3 id="product-name"><%= productPrev[0].productName %></h3>
                    <div>
                        <div class="star-rating-review"></div>
                        <p id="av"><%= productPrev[0].average %></p>
                    </div>
                </div>
                <div>
                    <% if (productPrev[0].ratings ==="") { %>
                        <p id="ratings"></p>
                        <p id="reviews"></p>
                    <% } else { %>
                        <p id="ratings"><%= productPrev[0].ratings %> Ratings</p>
                        <p id="reviews"><%= productPrev[0].totalReviews %> Reviews</p>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </div>

    <% if (errors) { %>
        <% errors.forEach(error => { %>
          <script>
            toastr.options.positionClass = "toast-bottom-right";
            toastr.error("<%= error %>");
          </script>
        <% }); %>
      <% } %>
<%- include('partials/footer'); -%>
